.basicButton__main {
  padding: 8px 12px;
  background: #353b48;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: white;
  outline: none;
  border: none;
  padding: 16px 28px 16px 28px;
}

.basicButton__main:hover {
  background: #353b4890;
  box-shadow: 1px 1px 1px 1px #00000030;
  transition: scale 200ms linear 0s;
  scale: 1.1;
  cursor: pointer;
}